body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
    color: #F78CB4;
}

main {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 25px;
}

/* Main styling for each course box */
.course-card {
    text-decoration: none;
    background-color: white;
    width: 186px; 
    border-radius: 18px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    padding: 15px;
    text-align: center;
    transition: transform 0.2s; 
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.course-card a{
    text-decoration: none;
}
.course-card[data-category="compsci"] h2,
.course-card[data-category="compsci"] p {
    color: #dd8cbd; 
}
.course-card[data-category="stats"] h2,
.course-card[data-category="stats"] p {
    color: #7089bf; 
}
.course-card[data-category="busan"] h2,
.course-card[data-category="busan"] p {
    color: #b383cd; 
}
.course-card[data-category="mgmt"] h2,
.course-card[data-category="mgmt"] p {
    color: #fdd06e;
}
.course-card[data-category="innovent"] h2,
.course-card[data-category="innovent"] p {
    color: #7f8d6a;
}

.course-card:hover {
    transform: translateY(-5px);
}

.course-card img {
    max-width: 100%;
    height: auto;
    border-radius: 18px;
}

.course-card h2, p {
    color: #F78CB4;
    margin-top: 5px;
}

#searchInput {
    width: 50%;
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

#searchInput::placeholder {
    color: #F78CB4;
}

.is-hidden {
    opacity: 0; 
    transform: scale(0.95); 
    height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border: none;
}

.course-viewer-container {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 20px;
}

.course-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.course-header h1 {
    margin: 0;
}

.back-link {
    background-color: #F78CB4; 
    color: white; 
    padding: 10px 20px; 
    border-radius: 10px; 
    text-decoration: none; 
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s ease; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

.back-link:hover {
    background-color: #E8709F; 
}


.pdf-viewer iframe {
    border: 1px solid #ddd;
    border-radius: 8px;
}

.viewer-page {
    background-color: #fff0f5; 
}

.document-buttons-container {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.document-button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.document-button:hover {
    background-color: #555;
}